<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> 
        <link rel="icon" type="image/png" th:src="@{/images/download__1__39f_icon.ico}"> 
    </head>
    <body>
        <div class="">
               <h1 style="color:red; margin:auto"; background="blue">ACCESS DENIED</h1>
        </div>
    </body>
</html>