<!DOCTYPE html>
<html >
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../css/login.css">
        <style> .form-group p {color:red; font-Size:14px;}</style>
    </head>
    <body>
        <div class="">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" th:href="@{/}">OMFA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
				</ul>
                </div>
              </nav>
                      <form style="margin-top: 40px; margin-left: 450px" class="col-sm-4" th:object="${admin}" th:action="@{/register}" method="post">
                          <fieldset>
                            <legend>Admin Register</legend>
                            <div class="form-group ">
                                    <input type="text" class="form-control" th:field="*{username}" id="" aria-describedby="" placeholder="Username">
                                     <p th:each="error : ${#fields.errors('username')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group ">
                                    <input type="password" class="form-control" th:field="*{password}" id="" aria-describedby="" placeholder="password">
                                     <p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
                            </div>
                            <button style="float:right; margin-right: 60px" type="submit" class="btn btn-success">Register</button>
                          </fieldset>
                        </form>      
        </div>
    </body>
</html>