<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> 
        <link rel="icon" type="image/png" th:src="@{/images/download__1__39f_icon.ico}"> 
    </head>
    <body>
        <div class="">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <a class="navbar-brand" th:href="@{/}">OMFA</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>                     
                        <div class="collapse navbar-collapse" id="navbarColor01">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                            </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                            <li class="nav-item active" style="float:right">
                              <a class="nav-link" th:href="@{/login}">Login</a>
                            </li>
                            <li class="nav-item active" style="float:right">
                              <a class="nav-link" th:href="@{/register}">Admin Register</a>
                            </li>
                          </ul>
                          <form class="form-inline my-2 my-lg-0" th:method = "post" th:action = "@{/search}">
                            <input name="keyWord" class="form-control mr-sm-2" type="text" placeholder="Search Crop">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                          </form>
                        </div>
                      </nav>
                      <div th:each="crop : ${crops}" Class="card text-white bg-primary mb-3" style="width: 317px; margin:10px; display: block; float:left">
                      		<fieldset>
                            <legend>Crop Name: <span th:text="${crop.cropName}" class="card-title"></span></legend>
                            <div class="card-body">
                              Price: <span th:text="${crop.price}" class="card-text"></span><br>
                              Description: <span th:text="${crop.description}" class="card-text"></span><br>
                              Place: <span th:text="${crop.place}" class="card-text"></span><br>
                              Farmer Contact: <span  class="card-text"></span>
                            </div>
                            </fieldset>
                          </div>
                          
        </div>
    </body>
</html>