<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <div class="">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" th:href="@{/}">OMFA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="https://bootswatch.com/yeti/#"></a>
                    </li>
                  </ul>
                </div>
              </nav>
                      <form style="margin:auto;margin-top: 80px;" id="loginForm" class="col-sm-4" th:action="@{/login}" method="post">
                          <fieldset>
                            <legend>Login to your account</legend>
                            <div class="form-group ">
                              <label for="exampleInputEmail1">User Name</label>
                              <input type="text" name="username" class="form-control" id="" aria-describedby="" placeholder="Enter user name">
                              <small id="emailHelp" class="form-text text-muted">Never share your User name with anyone else.</small>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" name="password" class="form-control" id="" placeholder="Password">
                            </div>
                            <button style="float:right; margin-right: 60px" type="submit" class="btn btn-primary">Login</button>
                          </fieldset>
                        </form>      
        </div>
    </body>
</html>