<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../css/login.css">
        <style> .form-group p {color:red; font-Size:14px;}</style>
    </head>
    <body>
        <div class="">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" th:href="@{/}">OMFA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li> <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/viewFarmers}"> View Farmers </a>
                    </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/addFarmer}"> Add New Farmer</a>
                    </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                            <a class="nav-link" th:href="@{/viewAllCrops}"> View All Crops </a>
                          </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/verifyCrops}"> Verify Crops </a>
                    </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li  style="margin-left:300px" class="nav-item active">
                      <a class="nav-link" th:href="@{/}">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
                      <form style="margin-top: 40px; margin-left: 450px" class="col-sm-4" th:object="${updateFarmer}" th:action="@{/updateFarmerInfo}" method="post">
                          <fieldset>
                            <legend>Update Farmer Information</legend>
                            <div class="form-group ">
                              <input type="number" class="form-control" hidden="" id="" aria-describedby="" th:field="*{farmerId}" placeholder="Enter Farmer ID">
                              <input type="number" class="form-control" hidden="" id="" aria-describedby="" th:field="*{username}" placeholder="Enter Farmer ID">
                              <input type="number" class="form-control" hidden="" id="" aria-describedby="" th:field="*{password}" placeholder="Enter Farmer ID">
                            </div>
                            <div class="form-group ">
                                    <input type="text" class="form-control" id="" aria-describedby="" th:field="*{firstName}" placeholder="First name">
                                    <p th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
                                  </div>
                            <div class="form-group ">
                                    <input type="text" class="form-control" id="" aria-describedby="" th:field="*{lastName}" placeholder="Last name">
                                    <p th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group ">
                                    <input type="text" class="form-control" id="" aria-describedby="" th:field="*{region}" placeholder="Region/State">
                                    <p th:each="error : ${#fields.errors('region')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group ">
                                    <input type="text" class="form-control" id="" aria-describedby="" th:field="*{zone}" placeholder="Zone/Subcity">
                                    <p th:each="error : ${#fields.errors('zone')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group ">
                                    <input type="number" class="form-control" id="" aria-describedby="" th:field="*{kebele}" placeholder="Kebele">
                                    <p th:each="error : ${#fields.errors('kebele')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group ">
                                    <input type="number" class="form-control" id="" aria-describedby="" th:field="*{houseNumber}" placeholder="House Number">
                                    <p th:each="error : ${#fields.errors('houseNumber')}" th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group ">
                                    <input type="number" class="form-control" id="" aria-describedby="" th:field="*{phoneNumber}" placeholder="Phone Number">
                                    <p th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}">Validation error</p>
                            </div>
                            <button style="float:right; margin-right: 60px" type="submit" class="btn btn-primary">Update</button>
                          </fieldset>
                        </form>      
        </div>
    </body>
</html>