<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../css/login.css">
        <style> .form-group p {color:red; font-Size:14px;}</style>
    </head>
    <body>
        <div class="">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" th:href="@{/}">OMFA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li> <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/myCrops}"> My Crops </a>
                    </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/addCrop}"> Add New Crop</a>
                    </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li  style="margin-left:600px" class="nav-item active">
                      <a class="nav-link" th:href="@{/}">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
              <form style="margin-top: 80px; margin-left: 450px" class="col-sm-4" th:object="${updateCrop}" th:action="@{/updateCropInfo}" method="post">
                <fieldset>
                  <legend>Update Crop Information</legend>
                  <div class="form-group ">
                    <input type="text" class="form-control" hidden="" id="" aria-describedby="" th:field="*{cropId}" placeholder="Enter Crop ID">
                    <p th:each="error : ${#fields.errors('cropName')}" th:text="${error}">Validation error</p>
                  </div>
                  <div class="form-group ">
                    <input type="text" class="form-control" id=" " aria-describedby=" " th:field="*{cropName}" placeholder="Crop Name">
                  </div>
                  <div class="form-group ">
                          <input type="text" class="form-control" id=" " aria-describedby=" "th:field="*{price}" placeholder="Price">
                          <p th:each="error : ${#fields.errors('price')}" th:text="${error}">Validation error</p>
                  </div>
                  <div class="form-group ">
                          <input type="text" class="form-control" id=" " aria-describedby=" " th:field="*{description}" placeholder="Crop Description">
                          <p th:each="error : ${#fields.errors('description')}" th:text="${error}">Validation error</p>
                  </div>
                  <div class="form-group ">
                          <input type="text" class="form-control" id=" " aria-describedby=" " th:field="*{place}" placeholder="Place">
                          <p th:each="error : ${#fields.errors('place')}" th:text="${error}">Validation error</p>
                  </div>
                  
                  <button style="float:right; margin-right: 60px" type="submit" class="btn btn-primary">Update</button>
                </fieldset>
              </form>        
        </div>
    </body>
</html>