<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <div class="">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" th:href="@{/}">OMFA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li> <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/viewFarmers}"> View Farmers </a>
                    </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/addFarmer}"> Add New Farmer</a>
                    </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                            <a class="nav-link" th:href="@{/viewAllCrops}"> View All Crops </a>
                          </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li class="nav-item active">
                      <a class="nav-link" th:href="@{/verifyCrops}"> Verify Crops </a>
                    </li><span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                    <li  style="margin-left:300px" class="nav-item active">
                      <a class="nav-link" th:href="@{/}">Logout</a>
                    </li>
                  </ul>
                </div>
              </nav>
              <table style="margin-left:20px; margin-top: 20px" class="table table-hover">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Region/Sub city</th>
                        <th scope="col">Zone</th>
                        <th scope="col">Kebele</th>
                        <th scope="col">House No.</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody th:each="farmer :${farmers}" >
                      <tr class="table-primary bg-primary">
                        <td><span th:text="${farmer.farmerId}"></td>
                        <td><span th:text="${farmer.firstName}"></td>
                        <td><span th:text="${farmer.lastName}"></td>
                        <td><span th:text="${farmer.region}"></td>
                        <td><span th:text="${farmer.zone}"></td>
                        <td><span th:text="${farmer.kebele}"></td>
                        <td><span th:text="${farmer.houseNumber}"></td>
                        <td><span th:text="${farmer.phoneNumber}"></td>
                        <td><button class="btn btn-danger"><a style="color:white; text-decoration: none;" th:href="@{/removeFarmer(id=${farmer.farmerId})}">Remove</a></button></td>
                        <td><button class="btn btn-primary"><a style="color:white; text-decoration: none;" th:href="@{/updateFarmer(id=${farmer.farmerId})}">Update</a></button></td>
                      </tr>
                    </tbody>
                  </table>       
        </div>
    </body>
</html>